#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 75%;
  width: 75%;
  padding: auto;
  margin: auto;
  will-change: filter;
  transition: filter 300ms;
}
@keyframes bounce2 {
	0%, 100% {transform: translateY(0);}
	50% {transform: translateY(-15px);}
}
.logo:hover {
  animation: bounce2 1.5s ease-in-out infinite;
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translate(-50%, 20px);   
  }
  to {
      opacity: 1;
      transform: translate(-50%, 0);
  }
}

.popup {
  background-color: #f1edff;
  border-width: 3px;
  border-style: solid;
  padding: 20px;
  width: fit-content;
  border-radius: 40px;
  justify-content: space-evenly;
  box-shadow: #64646f4d 0 7px 29px;
  position: fixed;
  left: 50%;
  right: 50%;
  transform: translate(-50%);
  opacity: 0;
  animation: fadeInUp 0.5s ease-out forwards;
}